if SHIELD_CHOCOBALL50

config ZMK_KEYBOARD_NAME
    default "Chocoball50"

config ZMK_USB_LOGGING
    default n

# Trackball (PMW3360) configuration
config SPI
    default y

config INPUT
    default y

config ZMK_MOUSE
    default y

# LED strip configuration
config LED_STRIP
    default y

config WS2812_STRIP
    default y

config ZMK_RGB_UNDERGLOW
    default y

config ZMK_RGB_UNDERGLOW_EXT_POWER
    default y

config ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE
    default y

# Encoder configuration
config EC11
    default y

config EC11_TRIGGER_GLOBAL_THREAD
    default y

endif
